<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microsoft.azure.mobile.mobilecenterloader">
  <uses-sdk android:minSdkVersion="15"/>
    <application>
        <provider
            android:authorities="com.microsoft.azure.mobile.unity.demo.microsoft.azure.mobile.mobilecenterloader"
            android:exported="false"
            android:name=".MobileCenterLoader" />
    </application>
</manifest>
